.container{
  border-left: 2px red solid;
  border-right: 2px red solid;
  border-bottom: 2px red solid;
  min-height: 100vh;
  /* height: 100%;
  width: 100%; */
  /* position: absolute; */

} 

body{
  background-color: #141414;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px white solid;
  border-right: 2px white solid;
  border-bottom: 2px white solid;
  min-height: 100vh;
  color: #f0f8ff;
}

nav{
  color: red;
}

.navbar-custom {
  /* color: #E50914!important; */
  background-color: #E50914!important;
}

button{
  margin: 15px;
  background-color:  #E50914!important;;
}

.input-group{
  /* border: 2px green solid; */
  display: flex;
  align-items: center;
  width: 450px;
}

.showIDs{
  color: white;
}

.instructions{
  color: green;
  padding-top: 100px;
}

